@import "../main.scss";

.currency__title {
	color: $special-color;
}

.menu__list--title {
	list-style-type: none;
}

.currency__name {
	color: $primary-color;
	font-size: 4.5em;
	margin-left: 1em;
}

.currency__chart {
	display: block;
	margin-left: 12em;
	max-width: 40%;
}

body {
	font-size: 14px;
	color: #111;
	margin: 0;
}

h4 {
	margin-top: 0;
	font-weight: bold;
	color: #222;
	font-size: 14px;
	margin-bottom: 16px;
}

.container {
	padding: 10px;
}
.section {
	margin-bottom: 40px;
}

.right {
	float: right;
}

.slider-wrapper {
	position: relative;
}
.slider-wrapper nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	pointer-events: none;
}
.slider-wrapper nav div {
	width: 40px;
	height: 40px;
	background-color: #82ca9c;
	color: white;
	font-size: 21px;
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color 0.1s ease-out;
	pointer-events: all;
}
.slider-wrapper nav div:hover {
	background-color: #444;
}
.slider-wrapper nav div.disabled {
	opacity: 0;
	pointer-events: none;
}
.slider {
	width: 100%;
	overflow-x: scroll;
}
.slider .wrapper {
	display: flex;
	flex-wrap: wrap;
}
.slider .slide {
	width: 360px;
	padding-left: 15px;
	padding-right: 15px;
}

.slider .slide img {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.slider .slide {
		width: 50vw;
	}
}

@media only screen and (min-width: 768px) {
	.slider-wrapper {
		overflow: hidden;
		width: 100%;
	}
	.slider {
		position: relative;
		bottom: -18px;
	}
}

.currencies {
	padding-bottom: 10px;
}
.currencies .currency {
	position: relative;
	width: 210px;
}
@media only screen and (max-width: 768px) {
	.currencies .currency {
		width: 50vw;
	}
}
.currencies {
	padding-bottom: 46px;
}
.currencies .currency figure {
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 136px;
	text-align: center;
	margin-bottom: 10px;
}
.currencies .currency figure img {
	max-width: 100%;
	max-height: 100%;
}
.currencies .currency h4 {
	margin-bottom: 4px;
}
.currencies .currency {
	color: #666;
	margin-bottom: 8px;
}
.currencies .currency {
	font-size: 16px;
	margin-bottom: 8px;
}
.currencies .currency span:first-child {
	text-decoration: line-through;
}
.currencies .currency footer {
	position: absolute;
	bottom: 0;
	left: 15px;
	display: flex;
	width: calc(100% - 30px);
}
.currencies .currency footer {
	flex-grow: 2;
	margin-left: 10px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: calc(100% + 10px);
	left: -15px;
	width: 210px;
	border-radius: 100%;
	background-color: white;
	width: 4px;
	height: 4px;
	display: block;
}
@media only screen and (max-width: 768px) {
	.currencies .currency {
		bottom: calc(100% + 10px);
		left: -15px;
		width: 50vw;
	}
}

.currencies .currency.category {
	width: 130px;
	text-align: center;
}
.currencies .currency.category figure {
	height: 100px;
	border-radius: 100%;
	overflow: hidden;
	background-color: #e5e5e5;
	border: none;
}

.currency__button {
	width: 60px;
	background-color: #1c1e27;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-radius: 30px;
	border-color: white;
	padding: 3px;
	margin: 8px;
}
.mat {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
