@import "../main.scss";
.slick-slider {
	background-color: $background-color-light;
	width: 95%;
	margin: 40px;
}
.slick-list {
	margin: 20px;
}
.slick-dots li button {
	background-color: $special-color;
}
