@import "../main.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main > article {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.details {
	@include border-grey();
	margin-top: 100px;
	background-color: $background-color-light;
	padding: 70px;
	color: $primary-color;
	.article-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 50px;
		article {
			@include border-grey();
			padding: 30px;
			border-radius: 10px;
		}
		h3 {
			color: white;
			text-align: center;
		}
		img {
			width: 290px;
		}
	}

	h1 {
		text-align: center;
	}

	p {
		padding: 20px 150px 0px;
		@media (max-width: 576px) {
			padding: 10px;
			text-align: center;
		}
	}
}

footer {
	text-align: center;
	margin-top: 50px;
	color: $primary-color;
}

// .chart{
//  @media (max-width: 1050px) {

// 		display: block;
// 		box-sizing: border-box;
// 		height: 100%px;
// 		width: 100%px;
// 	}
//  }

// @media (min-width: 768px) {
// }

// @media screen and (min-width: 992px) {
// }
