@import "../main.scss";
/* style wallet */
.wallet {
  /* width: 400px;
    height: 700px; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-style: dotted;
}

.wallet > h2 {
  font-weight: lighter;
}

.wallet > p > button {
  width: 60px;
  background-color: #1c1e27;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  border-color: white;
  padding: 3px;
  margin: 8px;
}

.wallet > p > button:hover {
  background-color: white;
  color: #1c1e27;
}

.evolution {
  @include evol;
  color: white;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 10px;
  font-weight: lighter;
}

.balance {
  font-size: 30px;

  color: white;
}
