@import "../main.scss";
.google-icon-wrapper {
	//	@include border-grey();
	border: 2px solid $special-color;
	color: $primary-color;
	border-radius: 10px;
	background-color: $background-color-light;
	width: 50px;
	&:hover {
		box-shadow: 2px 2px 2px $special-color;
	}
}

.google-icon {
	// margin-top: 11px;
	margin: 15px;
	height: 18px;
}
.btn-text {
	color: #4285f4;
	float: right;
	margin: 11px 11px 0 0;

	font-size: 14px;
	letter-spacing: 0.2px;
	font-family: "Roboto";
}
