@import "../main.scss";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.details {
	@include border-grey();
	margin-top: 100px;
	background-color: $background-color-light;
	padding: 70px;
	color: $primary-color;

	h2 {
		text-align: center;
	}

	p {
		padding: 20px 150px 0px;
		@media (max-width: 576px) {
			padding: 10px;
			text-align: center;
		}
	}
}

footer {
	text-align: center;
	margin-top: 50px;
	color: $primary-color;
}
// .chart{
//  @media (max-width: 1050px) {

// 		display: block;
// 		box-sizing: border-box;
// 		height: 100%px;
// 		width: 100%px;
// 	}
//  }

// @media (min-width: 768px) {
// }

// @media screen and (min-width: 992px) {
// }
