@import "../main.scss";

figure {
	@include border-grey();
	border-radius: 10px;
	background-color: $background-color-light;
	color: $primary-color;
	padding: 15px;
	margin: 10px;

	&:hover {
		box-shadow: 2px 2px 2px $special-color;
	}
	@media screen and (max-width: 576px) {
		padding: 10px;
		&:hover {
			box-shadow: none;
		}
	}
	@media screen and (min-width: 768px) {
		margin-bottom: 5px;
	}
	.top {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin-bottom: 20px;
	}
	h3 {
		margin: 10px;
		span {
			font-weight: 100;
		}
	}

	@media screen and (max-width: 576px) {
		flex-direction: column;
		align-items: center;
	}
	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
	}

	@media screen and (min-width: 992px) {
	}
}

.tag {
	@include evol();
	border-radius: 10px;
	padding: 12px;
	width: 75px;
	margin-left: 200px;

	font-weight: 550;
}
.tag.red {
	@include negative();
}
