@import "../main.scss";
h1,
h2 {
	color: white;
}
#container {
	@include border-grey;
	width: 400px;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 10px;
	background-color: $background-color-light;
	padding: 30px;
}
/* Bordered form */
form {
	width: 100%;

	color: #fff;

	// box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form h1 {
	color: #52b6b2;
}
#container h1 {
	width: 38%;
	margin: 0 auto;
	padding-bottom: 10px;
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

/* Set a style for all buttons */
.connexion {
	background-color: #52b6b2;
	// color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border-radius: 15px;
	cursor: pointer;
	width: 100%;
	text-decoration: none;
}
.connexion:hover {
	background-color: white;
	color: #52b6b2;
	border: 1px solid #52b6b2;
}
