@charset "UTF-8";



@import "abstracts/variables";

@import "components/index";

body {
	background-color: $background-color;
	color: $primary-color;
}

h1 {
	color: $special-color;
}

li {
	list-style-type: none;
}

.currency__logo {
	width: 3%;
	height: 3%;
}

