@charset "UTF-8";

@import "abstracts/variables";

@import "components/index";

body {
  background-color: $background-color;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

h1 {
  color: $special-color;
}

li {
  list-style-type: none;
}

.currency__name--logo {
  width: 10%;
}

.currency__logo {
	width: 36%;
}

.currencies__list {
  width: 150px;
  height: 300px;
  overflow-y: auto;
  margin-top: 40px;
  margin-left: 20px;


  &--content {
    background-color: yellow;
	margin: 5px 0;
	border-radius: 50%;
	text-align: center;
	font-size: 0.8em;
    height: 18vh;
    width: 6vw;

    & a {
      display: block;
      padding: 12px;
      text-decoration: none;

      }
	  &:hover {
        background-color: red;
	}
  }
}
