@charset "UTF-8";

@import "abstracts/variables";

//Components
@import "components/index";

@import "components/portfolio";

body {
	background-color: $background-color;
	color: $primary-color;
}

h1 {
	color: $special-color;
}

li {
	list-style-type: none;
}

.currency__logo {
	width: 3%;
	height: 3%;
}
