@import "../main.scss";
a {
	text-decoration: none;
}

.register-screen {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.register-screen__form {
	width: 380px;
	padding: 1.5rem;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
	background: $background-color-light;
	@include border-grey;
	border-radius: 10px;
}

.register-screen__title {
	text-align: center;
	margin-bottom: 1rem;
}

.register-screen__subtext {
	background-color: $background-color-light;
	display: block;
	margin: 0.5rem 0;
}
.error-message {
	color: red;
}
.login-btn {
	@include border-grey();
	background-color: $background-color-light;
	text-decoration: none;
	color: $primary-color;
	border-radius: 10px;

	padding: 10px;
	&:hover {
		box-shadow: 1px 1px $special-color;
	}
}
.register {
	@include border-grey();
	background-color: $background-color-light;
	color: $primary-color;
	border-radius: 10px;
	font-size: 18px;
	padding: 10px;
	text-align: center;
	margin: 20px 0px 10px;
	text-decoration: none;

	width: 100%;

	&:hover {
		box-shadow: 1px 1px $special-color;
	}
}
